<div class="jumbotron">
	<h1>Welcome to My College Organizer!</h1>
</div>

<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>" role="alert">
   	   <%= value %><br>
	</div>
<% end %>
