/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.glyphicon {
    font-size: 20px;
}

.glyphicon-search {
	font-size: 14px;
}

.glyphicon-log-in {
	font-size: 14px;
}

.glyphicon-envelope {
	font-size: 16px;
}

.school_show_image {
	width: 100%;
	border-radius: 10px;
}

.jumbotron {
	margin-top: 3%;
	text-align: center;
}

.center-buttons {
	text-align: center;
}

.center-search-bar {
	text-align: center;
}

body { 
	padding-top: 70px;
	padding-bottom: 90px; 
}
 
h1 {
	font-family: 'Anton', sans-serif;
}

th, td, p, li, form, .btn { 
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-size: 18px !important;
}

h4 {
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-size: 22px !important;
}

.small-text {
	font-size: 16px !important;
}

#profile-jumbotron {
	background: url("old_books2.png") no-repeat center center;
	background-size: 100%;
	color: white;
	text-shadow: black 0.2em 0.2em 0.3em;
	// text-shadow: 0 4px 6px rgba(0,0,0,.5);
}

#signup-jumbotron {
	background: url("happyyourehere2.png") no-repeat center center;
	background-size: 100%;
	color: white;
	text-shadow: black 0.2em 0.2em 0.3em;
	// text-shadow: 0 15px 20px rgba(0,0,0,.7);
}

#schools-index-jumbotron {
	background: url("banner2.png") no-repeat center center;
	background-size: 100%;
	color: white;
	text-shadow: black 0.2em 0.2em 0.3em;
	// text-shadow: 0 15px 20px rgba(0,0,0,.7);
}

#show-school-jumbotron {
	color: white;
	background-image: -webkit-linear-gradient(top, #315481, #918e82 100%);
	background-image: -moz-linear-gradient(top, #315481, #918e82 100%);
	background-image: -o-linear-gradient(top, #315481, #918e82 100%);
	background-image: linear-gradient(to bottom, #315481, #918e82 100%);
}

.center-signup-button {
	text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 55px;
  background-color: black;
  color: rgb(139,139,139);
  text-align: center;
  line-height: 1.428;
  font-size: 14px;
  text-decoration: none;
}

.footer p {
	padding-top: 16px;
}

.footer a {
	color: rgb(139,139,139);
}

.footer a:hover {
	color: white;
	text-decoration: none;
}


.homepage {	
	background: url("deeringmead.png") no-repeat center center;
	height: 100%;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	.megatext {
	color: white;
	font-size: 100px;
	line-height: 97px;
	text-align: center;
	padding-top: 12%;
	text-shadow: 0 4px 6px rgba(0,0,0,.5);
  	}
}

#add-space-search-bar {
	padding-bottom: 8px;
}

#safety-text {
	color: rgb(76,179,214);
	font-weight: bolder;
}

#target-text {
	color: rgb(89,173,67);
	font-weight: bolder;
}

#reach-text {
	color: rgb(196,61,60);
	font-weight: bolder;
}


