/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.glyphicon {
    font-size: 20px;
}

.glyphicon-search {
	font-size: 14px;
}

.glyphicon-log-in {
	font-size: 14px;
}

.school_show_image {
	width: 100%;
	border-radius: 10px;
}

.jumbotron {
	margin-top: 3%;
	text-align: center;
}

.center-buttons {
	text-align: center;
}

.center-search-bar {
	text-align: center;
}

body { 
	padding-top: 70px;
	padding-bottom: 70px; 
}

#profile-jumbotron {
	background: url("old_books.png") no-repeat center center;
	background-size: 100%;
	color: white;
	text-shadow: 0 4px 6px rgba(0,0,0,.5);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 55px;
  background-color: black;
  color: rgb(139,139,139);
  text-align: center;
  line-height: 1.428;
  font-size: 14px;
  text-decoration: none;
}

.footer p {
	padding-top: 18px;
}

.footer a {
	color: rgb(139,139,139);
}

.footer a:hover {
	color: white;
	text-decoration: none;
}


.homepage {	
	background: url("deeringmead.png") no-repeat center center;
	height: 100%;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	.megatext {
	color: white;
	font-size: 100px;
	line-height: 97px;
	text-align: center;
	padding-top: 10%;
	text-shadow: 0 4px 6px rgba(0,0,0,.5);
  	}
}

  
//   height: 100%;
//   background-color: #060;
//   color: #fff;
//   text-align: center;
//   text-shadow: 0 1px 3px rgba(0,0,0,.5);
 
// }


